@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

@keyframes fade-in {
  from {
      visibility: hidden;
      opacity: 0;
  }
  1% {
      visibility: visible;
      opacity: 0;
  }
  to {
      visibility: visible;
      opacity: 1;
  }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility:visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes nav-slide-in {
    from {
       left: -50%;
       height: 300px;
    }
    
    to {
       left: 0;
       height: $nav-height;
    }
}

@keyframes nav-slide-out {
  from {
     left: 0;
     height: $nav-height;
    
  }
  
  to {
     left: -50%;
     height: 300px;
  }
}
