.inspection {
  position: absolute;
  display: none;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 4;

  &.show {
    display: block;
  }

  form {
    width: 100%;
  }

  &__sidebar {
    width: 180px;
    height: 100%;
    // border: 1px solid green;

    @include breakpoint-down(medium-small) {
      display: none;
    }
  }

  &__content {
    width: calc(100% - 180px);
    height: 100%;
    background: $white;
    position: relative;

    @include breakpoint-down(medium-small) {
      width: 100%;
    }

    .content {
      &__header {
        width: 100%;
        height: 60px;
        background: $dark;
        padding-right: 10px;
        .profile__title {
          position: relative;
          left: 0;

          span #assId {
            display: none;
          }

          @include breakpoint-down(medium) {
            left: 10px;
          }

          @include breakpoint-down(small) {
            width: 45%;

          }
        }
      }

      &__close {
        font: {
          size: 30px;
          weight: 400;
        }
        cursor: pointer;
      }

      &__title {
        width: 30%;
        height: 100%;
        border-bottom: 1px solid $errorBack;
        color: $formTitle;

        .title {
          font: {
            size: $font-md;
            weight: 400;
          }

          @include breakpoint-down(small) {
            font-size: $font-sm;
          }
        }

        .progress {
          width: 100%;
          color: $white;
          font: {
            size: $font-sm;
            weight: 400;
          }

          &__cont {
            border-radius: 20px;
            // border: 1px ridge $errorBorder;
            padding: 0;
            overflow: hidden;
            box-shadow: 0px 0px 5px $errorBack;

            & > progress {
              height: 10px;
              width: 200px;
              border: none;
              background: crimson;

              &::-moz-progress-bar {
                background: $white;
              }

              &::-webkit-progress-value {
                background: limegreen;
              }

              &::-webkit-progress-bar {
                background: $white;
              }
            }

            @include breakpoint-down(small) {
              display: none;
            }
          }
        }
      }

      &__body {
        width: 100%;
        height: $inspectionBodyHeight;
        color: $formTitle;
        // border: 1px solid red;
        padding: 10px 10px;
        overflow-y: scroll;
        position: relative;

        .complete__container {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0;
          height: 100%;

          &.hide {
            display: none;
          }

          .content__complete {
            width: 50%;
            height: 300px;
            background: $veryDarkBrown;
            border: 1px solid $tileSuccess;
            border-radius: 10px;
            padding: 30px 10px;
            backdrop-filter: blur(20px);
            z-index: 4;

            p {
              font-size: $font-md;
              font-weight: 400;
              color: $tileSuccess;

              &.complete__verd {
                &.fail {
                  color: $tileFail;
                }
              }

              span#score {
                color: yellow;
                margin-left: 20px;
              }

              span#rate {
                margin-right: 20px;
              }

              .fa-star {
                color: $grey;

                &.active {
                  color: yellow;
                }
              }
            }

            .exit__complete {
              width: 200px;
              height: 40px;
              border: none;
              margin-top: 30px;
              font-size: $font-md;
              cursor: pointer;
            }

            @include breakpoint_down(small) {
              width: 90%;

              p {
                font-size: $font-sm;
              }

              .exit__complete {
                font-size: $font-sm;
              }
            }
          }
        }

        .section {
          width: 100%;
          height: auto;
          padding: 15px 10px;
          // padding-bottom: 10px;
          overflow: hidden;
          // background: $white;
          // border: 1px solid $errorBack;
          //border-radius: 10px;
          margin-bottom: 20px;

          &__header {
            text-transform: capitalize;
            font: {
              size: $font-md;
              weight: 600;
            }
          }

          &__content {
            margin-top: 10px;
            //border-top: 1px solid $veryDarkBrown;
            width: 100%;
            height: auto;
            padding: 5px;
            background: $white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            box-shadow: 0px 0px 15px $sectionBoxShadow;

            .content {
              width: 100%;
              padding: 10px;
              min-height: 100px;
              justify-content: space-evenly;
              align-items: flex-start;
              border-radius: 10px;
              position: relative;

              .fa-check {
                color: $tileSuccess;
              }

              &.visited {
                border-left: 2px solid $tileSuccess;
                .fa-check {
                  font-size: $font-md;
                  color: $tileSuccess;
                }
              }

              &:hover {
                cursor: pointer;
              }

              &.active {
                border: 1px solid $veryDarkBrownOp;

                box-shadow: 0px 4px 4px $sectionBoxShadow;
                border-left: 10px solid $tileFail;
                // text-shadow: 0px 0px 2px $veryDarkBrown;
                // color: $white;
                .fa-check {
                  display: none;
                }
              }

              &.noscope {
                opacity: 0.5;

                .fa-check {
                  display: none;
                }

                &:hover,
                select:hover {
                  cursor: not-allowed;
                }
              }
              //border: 1px ridge $errorBack;

              & > p.question {
                font-size: $font-sm;
                font-weight: 400;
                width: 100%;
                margin-bottom: 20px;

                & > span {
                  display: inline-block;

                  &:not(:last-child) {
                    margin-bottom: 10px;
                  }

                  .checked {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                  }
                }

                button.corrective {
                  position: absolute;
                  border-radius: 5px;
                  width: 30px;
                  height: 20px;
                  right: 0;
                  background: none;
                  cursor: pointer;
                  border: none;

                  span {
                    border: none;
                    transition: all 0.3s ease;
                  }

                  &:disabled {
                    cursor: not-allowed;
                  }

                  &:hover {
                    & .comment__icon {
                      transform: scale(1.2, 1.2);
                      color: $tileFail;
                    }
                  }

                  span.hasInfo {
                    width: 15px;
                    height: 15px;
                    color: $white;
                    background: $tileFail;
                    position: absolute;
                    font-size: $font-xsm;
                    top: -5px;
                    left: -5px;
                    border-radius: 50%;

                    &.hide {
                      display: none;
                    }
                  }
                }
              }

              & > select {
                height: 25px;
                width: 30%;
                border: 1px solid $formTitle;
                border-radius: 30px;
              }

              div.comments {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $lightGreyOp;
                backdrop-filter: blur(20px);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 0px 10px;
                top: 0;
                left: 0;

                &.hide {
                  display: none;
                }

                div.insertions {
                  // width: 70%;
                  width: 85%;
                  height: 100%;
                  position: relative;

                  .insertion__cont {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    // border: 1px solid green;

                    &.noscope {
                      z-index: 0;
                    }

                    label.subject__title {
                      display: none;
                    }

                    input.subject,
                    textarea.remarks {
                      width: 100%;
                      border-radius: 5px;
                      border: none;
                      padding: 2px 5px;
                      color: $formTitle;
                    }

                    input.subject {
                      height: 20%;
                      // text-align: center;
                      font-weight: 600;
                    }
                    textarea.remarks {
                      height: 70%;

                      &.no__data {
                        animation: shake 0.3s ease forwards;
                      }

                      @keyframes shake {
                        0% {
                          width: 100%;
                        }
                        20% {
                          width: 90%;
                        }
                        60% {
                          width: 100%;
                        }
                        80% {
                          width: 90%;
                        }
                        100% {
                          width: 100%;
                          border: 1px solid red;
                        }
                      }
                    }
                  }
                }

                div.controls {
                  // width: 20%;
                  width: auto;
                  height: 100%;

                  button.add {
                    border: none;
                    background: $white;
                    color: $formInput;
                    padding: 3px 10px;
                    width: 70%;
                    border-radius: 3px;
                    cursor: pointer;
                  }

                  button.minimize {
                    width: 20px;
                    height: 20px;
                    border: 1px solid $lightGrey;
                    background: $white;
                    color: $dark;
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    border-radius: 50%;
                    cursor: pointer;
                  }

                  div.peek {
                    width: 100%;
                    padding: 0 5px;

                    button.prev,
                    button.next {
                      padding: 4px 10px;
                      border: none;
                      border-radius: 3px;
                      color: $formInput;
                    }
                  }
                }
              }
            }
          }

          @include breakpoint-down(medium-small) {
            &__header {
              font-size: $font-sm;
            }

            &__content {
              grid-template-columns: 2fr;
              grid-row-gap: 20px;
            }
          }
        }
      }

      &__submit {
        width: 100%;
        height: $inspectionFooterHeight;
        border-top: 1px inset $formTitle;
        box-shadow: 0px -2px 3px $formTitle;

        .apply__button {
          border: none;
          height: 35px;
          cursor: pointer;

          &.disabled {
            background: $grey;
            border: 3px solid $white;
            opacity: 0.4;
            cursor: not-allowed;
          }
        }
      }
    }

    .error__mask {
      // border: 1px solid green;
      position: absolute;
      width: 100%;
      height: calc(100% - 60px);
      background: $mask;
      top: 60px;
      left: 0;

      .submit__error {
        width: 35%;
        min-height: 100px;
        // border: 1px solid red;
        //border-radius: 10px;
        background: $submitError;
        padding: 10px;

        p {
          padding: 10px;
          font: {
            size: $font-md;
            weight: 400;
          }
          color: $formTitle;
          text-align: center;
        }

        button {
          border: none;
          height: 20px;
          cursor: pointer;
        }
      }

      &.hide {
        display: none;
      }
    }
  }
}
