.profile {
  &__body {
    height: calc(100vh - 60px);

    @media (max-height: 500px) {
      height: auto;
    }
  }

  &__nav,
  &__content {
    margin-top: 120px;
    position: relative;

    @media (max-height: 500px) {
     margin-top: 60px;
    }


 //application certification guideline popup
 .app__guide {
  width: 70%;
  height: auto;
  position: absolute;
  background: $white;
  border-radius: 10px;
  border: 1px solid $trBack;
  box-shadow: 0px 0px 20px $mask;
  top: 40px;
  left: 15%;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  padding-top: 40px;
  animation: smoothAnim .6s ease-in-out forwards;
  cursor: pointer;

  &.hide {
    display: none;
  }


  p.guide__head {
    width: 100%;
    height: 40px;
    background: $kefri_brown;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    font: {
      size: $font-md;
      weight: 600;
    }
    
  }

  span.close__guide {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 4px;
    z-index: 3;
    cursor: pointer;
    font: {
      size: $font-lg;
      weight: 600;
    }
    color: $veryDarkBrown;

    &:hover {
     color: $white;
    }
  }

  p.guide__one, p.guide__two, p.guide__three{
    width: 100%;
    border-bottom: 1px solid $trBack;
    color: $formInput;
    height: auto;
    padding: 5px;
    text-align: left;
    border-left: 8px solid $trBack;
    margin: 10px 0;
    line-height: 1.6em;
    font: {
      weight: 400;
      size: $font-sm;
    }

    span {
      &:not(.button) {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        font: {
          size: $font-xlg;
          weight: 900;
        }
        color: $kefri_brown;

      }
    }
  }

  span.button {
    border-radius: 7px;
    padding: 3px 4px;
    font-size: $font-xsm;
    display: inline;
  }

  @keyframes smoothAnim {
    0% {opacity: 0}
    100% {opacity: 1}
  }
}


  }

  &__nav {
    width: 180px;
    height: $nav-height;

    // background: $veryDarkBrown;
    background-image: linear-gradient(
      to bottom,
      $kefri_brown,
      $kefri_green 30% 100%
    );
    position: fixed;
    justify-content: start;
    align-items: start;
    padding: 30px 3px;
    padding-right: 0;

   

    @include breakpoint-down(medium) {
      width: 50%;
      z-index: 3;
      left: -50%;
      // transition: all .6s ease-in-out;
      overflow: hidden;
      height: 300px;

      &.open {
        animation: nav-slide-in .3s ease-in forwards;
      }

      &.closed {
        animation: nav-slide-out .3s ease-in forwards;
      }
    }

    

    &__link {
      padding: 5px 10px;
      transition: all 100ms ease;
      cursor: pointer;
      position: relative;
      &.logo {
        margin-left: -10px;
      }

      &:not(:first-child) {
        padding-right: 0;
        width: 100%;

        &.active {
          p,
          span {
            font-weight: 600;
          }
        }
        &.active,
        &:hover {
          border-radius: 20px 0 0 20px;
          background: $navLink;
          // background: $navHover;

          p,
          span {
            color: $white;
          }
        }

        &:not(.active):hover {
          background: $navHover;
          // background: $dark;
          p,
          span {
            color: $white;
          }
        }

        &.settings,
        &.logout {
          background: none;
          &:hover {
            border-radius: 20px 0 0 20px;
            background: $navHover;
          }
        }

        &.settings {
          display: none;
        }
      }
      &__divider {
        border: 0.5px solid rgba(219, 204, 204, 0.115);
        width: 100%;
        margin-bottom: 20px;
      }

      .count {
        position: absolute;
        min-width: 20px;
        min-height: 20px;
        padding: 3px;
        background: $tileFail;
        border-radius: 50%;
        top: -10px;
        right: 20px;

        &.frame {
          animation: 0.4s scale;
        }

        @keyframes scale {
          0% {
            transform: scale(0, 0);
          }
          50% {
            transform: scale(1.4, 1.4);
          }
          100% {
            transform: scale(1, 1);
          }
        }

        &.hide {
          display: none;
        }

        p {
          color: $white!important;
          font: {
            size: $font-xsm;
            weight: 400;
          }
         
        }
      }

      span {
        width: 10px;
        //color: white;
        display: flex;
        margin-right: 15px;
        color: $white;
        font-size: $font-sm;
        justify-content: space-between;
        align-items: center;

        i {
          &.first {
            font-size: 10px;
            margin-right: 2px;
          }
        }
      }

      p {
        color: $white;
        font-size: $font-sm;
      }

      &:nth-child(1) {
        margin-bottom: 60px;
        align-self: center;
      }

      &:not(:nth-child(1)) {
        margin-bottom: 20px;
      }

      .logo__cont {
        width: 50px;
        height: 50px;
        background: linear-gradient(to bottom, $whiteOp, $kefri_brown);
        display: inline-block;
        .logo__image {
          width: 50px;
          height: 50px;
          display: inline-block;
          border: 1px solid rgba(219, 204, 204, 0.115);
          background: {
            image: url("../App/images/seedling_svg.svg");
            size: 300px;
            position: top;
            repeat: no-repeat;
          }
          border-radius: 50%;
         
        }
        box-shadow: 0px 3px rgba(0, 0, 0, 0.7);
        border-radius: 50%;

      }
    }

    p.copyright {
      width: 100%;
      color: $whiteOp;
      font-size: $font-sm;
      position: absolute;
      text-align: center;
      bottom: 10px;
    }
  }

  &__content {
    width: calc(100% - 190px);
    height: $nav-height;
    margin-left: 190px;
    padding: 10px 10px;
    overflow: hidden;

    @include breakpoint-down(medium) {
      width: 100%;
      margin-left: 0;
    }

    @media (max-height: 500px) {
      height: auto;
      z-index: 1;
      overflow-y: scroll;
    }

    @include breakpoint-down(small) {
      overflow-y: scroll;
    }
  }
}

.logout__cont {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: $myAppHeader;
  backdrop-filter: blur(5px);
  z-index: 2;

  &.hide {
    display: none;
  }

  .logout__confirm {
    background: $veryDarkBrownOp;
    backdrop-filter: blur(20px);
    width: 30%;
    height: 200px;
    padding: 10px;
    position: relative;
    border-radius: 10px;

    p {
      color: $tileSuccess;
      font: {
        size: $font-md;
        weight: 400;
      }
      text-align: center;
    }

    .selection {
      width: 50%;

      a {
        margin-right: 20px;
      }

      a,
      button {
        padding: 2px 10px;
        width: 100px;
        height: 30px;
        border: none;
        cursor: pointer;
        color: $white;
        font: {
          size: $font-sm;
          weight: 400;
        }
      }

      button.cancel {
        background: $tileFail;
      }
    }

    @include breakpoint-down(medium) {
      width: auto;

      .selection {
        width: 100%;
      }
    }

    @include breakpoint-down(small) {
      p {
        font-size: $font-sm;
      }
    }
  }
}

.await__setup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  // background: $whiteOp;
  background: linear-gradient(45deg, $kefri_brownOp, $kefri_greenOp);
  backdrop-filter: blur(50px);
  z-index: 4;

  .await__title {
    color: $veryDarkBrown;

    &.large {
      animation: showLarge 0.6s ease-in-out forwards;

      @keyframes showLarge {
        0% {
          font-size: $font-xsm;
        }
        100% {
          font-size: $font-md;
        }
      }
    }
    font: {
      size: $font-md;
      weight: 400;
    }
    margin-bottom: 20px;
  }

  .loader {
    color: $veryDarkBrown;
    font-size: $font-sm;

    &.hide {
      display: none;
    }
  }

  &.hide {
    animation: hideMe 0.5s ease-in-out forwards;

    @keyframes hideMe {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
