<div class="nurs__expand hide flex-col">
  <div class="nurs__close">
    <p>&times;</p>
  </div>
  <div class="nurs__header flex-jc-aic">
    <p>Vladamir's Nursery Kericho</p>
  </div>

  <div class="nurs__data flex-se-aic">
    <div class="nurs__content"></div>
  </div>
  <p class="nurs__species__header flex-jc-aic">
    Nursery Species
  </p>
  <!-- <hr> -->
  <div class="nurs__species flex-col-jcaic">
    <div class="species__title flex-se-aic">
      <p>Type</p>
      <p>Name</p>
      <p>Sourced from</p>
      <p>Quantity</p>
    </div>
    <!-- <hr> -->
    <div class="species__content flex-col-sbaic">
      <div class="species__row flex-se-aic"></div>
    </div>
  </div>
</div>
